<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Administración de usuarios</title>
<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="../css/bootstrap/bootstrap-theme.min.css"></link>
<link href="../css/estilos.css" rel="stylesheet"></link>
<script type="text/javascript"
	src="../js/angularjs/angular-1.6.4.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="../js/initController.js"></script>
<script type="text/javascript" src="../js/loginController.js"></script>
<script type="text/javascript" src="../js/usersController.js"></script>
<script type="text/javascript" src="../js/bootstrap/modal.js"></script>
</head>
<body ng-app="app">
	<div ng-include="'templates/header.html'"></div>
	<div class="container" ng-controller="usersController">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" align="center">Administración de
						usuarios</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Estado</th>
								<th>Rol</th>
								<th>Departamento</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in users">
								<td>{{u.id}}</td>
								<td>{{u.nombre}}</td>
								<td>{{u.estado}}</td>
								<td>{{u.rol}}</td>
								<td>{{u.departamento}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer" id="adminUsuariosPanel">
					<button type="button" class="btn btn-default" ng-disabled="loading"
						data-toggle="modal" ng-click="showModal('add')">Agregar</button>
					<button type="button" class="btn btn-default" ng-disabled="loading">Modificar</button>
					<button type="button" class="btn btn-default" ng-disabled="loading">Eliminar</button>
					<img src="../img/2.gif" height="25" ng-show="loading">
				</div>
			</div>
			<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
						</div>
						<div class="modal-body">

							<form id="agregarUsuario" name="agregarUsuario" role="form">
								<div class="form-group">
									<label for="nombreUsr">Nombre</label> <input type="txt"
										class="form-control" id="nombreUsr" placeholder="Nombre">

								</div>
								<div class="form-group">
									<label for="passUser">Clave</label> <input type="password"
										class="form-control" id="passUsr" placeholder="Password">

								</div>
								<div class="form-group">
									<label for="rolUsr">Rol</label> <select class="form-control" ng-options="r.nombre for r in roles" ng-model="rol">	
									</select>
								</div>
								<div class="form-group">
									<label for="departamentoUsr">Departamento</label> <select
										class="form-control" ng-options ="d.nombre for d in departamentos" ng-model="departamento">
									</select>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>