<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Administracion de items</title>
<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="../css/bootstrap/bootstrap-theme.min.css"></link>
<link href="../css/estilos.css" rel="stylesheet"></link>
<script type="text/javascript"
	src="../js/angularjs/angular-1.6.4.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="../js/initController.js"></script>
<script type="text/javascript" src="../js/loginController.js"></script>
<script type="text/javascript" src="../js/itemsController.js"></script>
<script type="text/javascript" src="../js/bootstrap/modal.js"></script>
</head>

<body ng-app="app">
	<div ng-include="'templates/header.html'"></div>
	<div class="container" ng-controller="itemsController">
		<div class="col-sm-12">
			<div ng-class="mensaje.clase" role="alert" ng-show="mensaje.visible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>{{mensaje.titulo}}</strong> {{mensaje.mensaje}}
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" align="center">Administración de Items</h3>
				</div>
				<div class="panel-body">
					<input type="search" id="filtro" class="form-control"
						placeholder="filtrar items" ng-model="filter"
						ng-keyup="doFilter($event)">
					<table class="table table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Estado</th>
								<th>Categoria</th>
								<th>Cantidad en Departamento</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="i in items">
								<td>{{i.id}}</td>
								<td>{{i.nombre}}</td>
								<td>{{i.estado}}</td>
								<td>{{i.categoria}}</td>
								<td>{{i.cantidadDepto}}</span></td>
								<td><div class="columnaAcciones">
										<a href="javascript:void(0)"
											ng-click="showSolicitudModal('s',i)">solicitar</a> | <a
											href="javascript:void(0)"
											ng-click="showSolicitudModal('d', i)">descartar</a>
									</div></td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="...">
						<ul class="pager">
							<li class="previous " ng-click="prevPage()"
								ng-class="{'disabled': !isPrevPage()}"><a href="#"><span
									aria-hidden="true">&larr;</span> Anterior</a></li>
							<li>Página {{currentPage}}</li>
							<li class="next" ng-click="nextPage()"
								ng-class="{'disabled': !isNextPage()}"><a href="#">Siguiente
									<span aria-hidden="true">&rarr;</span>
							</a></li>
						</ul>
					</nav>
				</div>


				<div class="panel-footer">
					<img src="../img/2.gif" height="25" ng-show="loading">

				</div>
			</div>

			<div class="modal fade" id="solicitarModal" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<form id="accionesSolicitud" name="accionesSolicitud" role="form"
						ng-submit="aplicarSolicitud()">
						<div class="modal-content">
							<div class="modal-header">

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{{tituloModal}}</h4>
							</div>
							<div class="modal-body">
								<div ng-class="mensaje.clase" role="alert"
									ng-show="mensaje.visible">
									<strong>{{mensaje.titulo}}</strong> {{mensaje.mensaje}}
								</div>
								<div class="form-group">
									<label for="cantidad">Cantidad</label> <input type="number"
										min="1" max="10000" class="form-control" id="cantidad"
										placeholder="Ingrese cantidad" required="required"
										ng-model="cantidad" ng-disabled="loading">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal" ng-click="cerrar()" ng-disabled="loading">Cancelar</button>
								<button type="submit" class="btn btn-primary"
									ng-disabled="loading">Guardar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>