div.form-group input.ng-invalid {
	color:#a94442;
	border-color:#a94442;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}

div.form-group input.ng-invalid:focus {
	border-color:#843534;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483	
}

form#cambioClave{
	padding-top: 20px;
}

div#adminUsuariosPanel button{
	margin: 0 5px;
}

div#agregarModal input{
	margin-bottom: 10px;
}
#filtro{
	margin-bottom: 15px;
}
.item-insuficiente{
	color:red;
}
.columnaAcciones{
	width: 120px;
}
table.selecionable tbody tr:hover{
	cursor: pointer;
}